# =========================================
# Gitea Runner
# =========================================

# URL deiner Gitea Instanz
GITEA_INSTANCE_URL=Gitea_URL

# Globaler Runner Registration Token
# (Site Administration -> Actions -> Runners)
GITEA_RUNNER_REGISTRATION_TOKEN=Admin_Token

# Anzeigename des Runners
GITEA_RUNNER_NAME=speedy

# Labels für Workflows
# Beispiel:
# runs-on: ubuntu-latest
GITEA_RUNNER_LABELS=docker,x64,ubuntu-latest,node20

# =========================================
# Optional
# =========================================

# Zeitzone
TZ=Europe/Vienna

# Runner Konfiguration
CONFIG_FILE=/data/config.yaml

# Workspace innerhalb des Containers
GITEA_RUNNER_WORKDIR=/workspace

# =========================================
# Docker
# =========================================

# Docker Host Socket
DOCKER_HOST=unix:///var/run/docker.sock